:root{
    
        --primarioOscuro:#0E759E;
        --secundarioMedio:#47CBFF;
        --terciarioOscuro:#2AB3EB;
        --cuaternarioCafe:#9E5300;
        --pentimoClaro:#EB902A;
        --fuenteprincipal:"Darker Grotesque", sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    font-size: large;
    background-color: var(--primarioOscuro);
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(top, rgba(73,155,234,1) 46%, rgba(14,117,158,1) 80%, rgba(14,117,158,1) 90%, rgba(14,117,158,1) 96%);
background: -webkit-gradient(left top, left bottom, color-stop(46%, rgba(73,155,234,1)), color-stop(80%, rgba(14,117,158,1)), color-stop(90%, rgba(14,117,158,1)), color-stop(96%, rgba(14,117,158,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 46%, rgba(14,117,158,1) 80%, rgba(14,117,158,1) 90%, rgba(14,117,158,1) 96%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 46%, rgba(14,117,158,1) 80%, rgba(14,117,158,1) 90%, rgba(14,117,158,1) 96%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 46%, rgba(14,117,158,1) 80%, rgba(14,117,158,1) 90%, rgba(14,117,158,1) 96%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 46%, rgba(14,117,158,1) 80%, rgba(14,117,158,1) 90%, rgba(14,117,158,1) 96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0e759e', GradientType=0 );
}

.navegacion{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color:var(--terciarioOscuro);
    gap:3rem;
    font-size: 3rem;
   

}

.navegacion__opcion{
    text-decoration: none;
    color:white;
}

body{
    font-family: var(--fuenteprincipal);
    background:url(img/fondo.png)
    /** background-color: var(--primarioOscuro);**/
}


h1,h2,h3{
    text-align: center;
    color: var(--pentimoClaro);
    font-family: var(--fuenteprincipal);
    font-size: 1rem;

}

h1{}
h2{}
h3{}

.contenedor{
}

.bloque{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-width: 225px;
    align-content: center;  
   margin: 2rem auto;
   
  
}

@media (min-width: 768px) { 
    .bloque{grid-template-columns: repeat(3,1fr);} 
}


.bloques{
    text-align: center;
   
   
}

.bloque__imagen{
    max-width: 60%;
    width: 185px;
    height: 185px;
    border-radius: 10px;
    border-color: #9E5300;
   /** -webkit-box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73);
-moz-box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73);
box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73); **/
-webkit-box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73);
-moz-box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73);
box-shadow: 2px 4px 35px 7px rgba(5,5,5,0.73);

}

.bloque__precio{
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding:0 2rem 2rem;
    font-weight:bold ;
    color: white;
}

footer{
    text-align: center;
    background-color: var(--terciarioOscuro);
    padding:2rem ;
    font-weight: bold;
    font-size: 2rem;
}
